= simple_form_for(@site) do |f|
  = f.input :name
  = f.input :facebook_page_id, label: 'Facebook Page ID'
  Enter your Bandcamp username, this is the text in between the "www." and ".bandcamp.com" on any of your Bandcamp pages
  = f.input :bandcamp_name
  = f.button :submit

%h5 Streaming Music from Bandcamp
- if @site.albums.any?
  - @site.albums.each do |a|
    .album
      URL: #{a.url}
      %br
      Album ID: #{a.bandcamp_id}
      = link_to 'delete', site_album_path(@site, a), method: :delete
- else
  %p No albums added yet

- if @site.persisted?
  = simple_form_for [@site, Album.new] do |g|
    = g.input :url, label: 'URL of Bandcamp album page'
    = g.input :bandcamp_id, label: 'Bandcamp Album ID'
    = g.button :submit