#edit-site-form.small-12.medium-10.large-7.columns  
  = simple_form_for(@site) do |f|
    - read_only = true if @site.persisted?
    = f.input :name, input_html: {class: "input-name"}, :disabled => read_only
    - if read_only
      .disabled-hint
        (you can't change your name)
    Enter your Facebook Page username or ID. This is the unique string or number in the URL of your Facebook Page.
    = f.input :facebook_page_id, label: false
    Enter your Bandcamp username. Find it in between the "www." and ".bandcamp.com" on any of your Bandcamp pages.
    = f.input :bandcamp_name, label: false
    = f.button :submit

  %h2 Streaming Music from Bandcamp
  - if @site.albums.any?
    - @site.albums.each do |a|
      .album
        URL: #{a.url}
        %br
        Album ID: #{a.bandcamp_id}
        = link_to 'delete', site_album_path(@site, a), method: :delete
  - else
    %p No albums added yet

  - if @site.persisted?
    = simple_form_for [@site, Album.new] do |g|
      = g.input :title, label: 'Name for this album or track'
      = g.input :url, label: 'Full URL of Bandcamp album page'
      = g.input :bandcamp_id, label: 'Bandcamp ID (you have to hunt for this in the album embed code provided by Bandcamp)'
      = g.button :submit, "Add Bandcamp Stream"
  - else
    .new-site-hint
      (You can add albums after creating this new site)