%h1= @site.name
Facebook page ID: #{@site.facebook_page_id}
%br
%br

-if @events.any?
  %h2 Upcoming Events
  %br
  -@events.each do |e|
    .fb-event
      =p 'Name: ' 
      =content_tag :strong, e[:name]
      %br
      ID: #{e[:id]}
      %br
      =link_to e[:link], e[:link], target: '_blank'
      %br
      Venue: #{e[:venue]}
      %br
      Address: #{e[:address]}
      =link_to ' go to map', "https://maps.google.com?q=#{e[:address]}", target: '_blank'
      %br
      Date: #{e[:date]}
      %br
      Time: #{e[:time]}
      %br
      Description: #{e[:description]}
      %br
      =link_to image_tag( e[:picture], alt: e[:name]), e[:cover], target: '_blank'
      %br
      %br

-if @photo_albums
  -@photo_albums.compact.each do |a|
    .album-link{:id => a[:id]}
      =link_to( image_tag(a[:thumbnail], alt: a[:name]), '#', data: {'reveal-id': 'gallery'} )
      =link_to( a[:name], '#', data: {'reveal-id': 'gallery'} )

-if @site.albums.any?
  - content_for :bc_player do
    %h2 Listen
    - @site.albums.each do |a|
      = streaming_player(a)

-# modal popup for photo gallery
#gallery.reveal-modal{"aria-hidden" => "true", "aria-labelledby" => "Photo Gallery", "data-reveal" => "", :role => "dialog"}
  %h2#galleryTitle Gallery Title Here
  #mainImage
  %p.caption
  #scroller
  %a.close-reveal-modal{"aria-label" => "Close"} ×