%h2= @site.name
Facebook page ID: #{@site.facebook_page_id}

-if @events.any?
  %h3 Upcoming Events
  -@events.each do |e|
    .fb-event
      =pp e
      %br
      Event raw attributes: #{e.raw_attributes}
      %br
      Event registered attributes: #{e.registered_attributes}
      %br
      Location: #{e.location}
      %br
      Venue: #{e.venue}
      %br
      Owner: #{e.owner}
      %br
      -# Page: #{e.page}
      %br

  %br
  %br
  Available event methods:
  %ul
  - e = @events.sample
  - e.methods.each do |m|
    =content_tag :li, m.to_s
  