%h1#site_name= @site.name

%ul#nav.small-block-grid-4
  %li#events-click.active
    =fa_icon "glass 2x"
    Events
  %li#photos-click
    = fa_icon "camera 2x"
    Photos
  %li#videos-click
    = fa_icon "video-camera 2x"
    Videos
  %li#about-click
    = fa_icon "envelope 2x"
    About

#upcoming_events
  %h2 UPCOMING EVENTS
  - if @events.any?
    %ul#events.small-block-grid-1.medium-block-grid-2.large-block-grid-3
      -@events.each do |e|
        %li
          .fb-event
            .text-center.date
              =e[:date] 
            =link_to e[:name], e[:link], class: 'event_name', target: '_blank'
            .text-center
              =link_to image_tag( e[:picture], alt: "#{e[:name]} flyer", title: "see full size flyer"), e[:cover], target: '_blank'
            %span.venue
              =e[:venue]
            \- #{e[:time]}
            %br
            .text-center
              =e[:address]
              =link_to ' (map)', "https://maps.google.com?q=#{e[:address]}", target: '_blank', class: 'map_link'
            %br
            =e[:description]
  - else
    .no-events No upcoming events scheduled.
      
#photo_albums
  %h2 PHOTO ALBUMS
  %ul.small-block-grid-2.medium-block-grid-3.large-block-grid-4
    -@photo_albums.compact.each do |a|
      %li
        .photo_album.text-center
          =link_to( image_tag(a[:thumbnail], alt: a[:name]), '#', class: 'album-link', data: { 'id' => a[:id], 'name' => a[:name], 'reveal-id' => 'gallery' } )
          .album-caption.text-center
            =link_to( a[:name], '#', class: 'album-link', data: { 'id' => a[:id], 'name' => a[:name], 'reveal-id' => 'gallery'} )

#videos
  %p This part is still under development...

#about
  %h2 ABOUT
  %p more coming soon...

-if @site.albums.any?
  -# streaming player container
  #bc_player
    %h2 Listen Now
    - @site.albums.each do |a|
      = a.player_iframe
  -# streaming player clicker
  #bc_player_clicker
    =fa_icon "headphones 4x"

-# modal popup for photo gallery
#gallery.reveal-modal{"aria-hidden" => "true", "aria-labelledby" => "Photo Gallery", "data-reveal" => "", :role => "dialog"}
  %h2#galleryTitle
  .mainImage.text-center
  .caption.text-center
  .scroller
  %a.close-reveal-modal{"aria-label" => "Close"} ×